{
	"extends": "airbnb",
	"env": {
		"node": true
	},
	"rules": {
		"react/jsx-filename-extension": "off"
	},
	"globals": {
		"navigator": true,
		"fetch": true
	},
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true
		}
	},
}
