extends errorLayout

block content
  .wrap
      .logo
        h1 404
        p  Sorry - File not Found!
        .sub
          p
            a(href='http://selbi.io')  Back to Home
  .footer
    | Design by-
    a(href='http://w3layouts.com') W3Layouts