extends fpLayout

block content
	// RESET PASSWORD FORM
	.text-center(style='padding:50px 0')
		.logo Reset Password
		// Main Form
		.login-form-1
			form#resetpassword-form.text-left
				.login-form-main-message
				.main-login-form
					.login-group
						.form-group
						.form-group
							label.sr-only(for='reg_password') New Password
							input#reg_password.form-control(type='password', name='reg_password', placeholder='New Password')
						.form-group
							label.sr-only(for='reg_password_confirm') Confirm Password
							input#reg_password_confirm.form-control(type='password', name='reg_password_confirm', placeholder='confirm password')
						.form-group
					button.login-button(type='submit')
						i.fa.fa-chevron-right
		// end:Main Form