extends privacyLayout

block content
  // Fixed navbar
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/')
          img.selbi-logo(src='../images/selbilogo2.png')
  .container
    .page-header
      h1
        | Privacy Policy
    p.lead
      | This Privacy Policy explains how information about you is collected, used and disclosed by Selbi, Inc. (hereafter “Selbi”, “our,” “we,” or “us”). This Privacy Policy applies to information we collect when you use our website, mobile applications and other online services (collectively, the “Selbi Experience” or “Selbi Exp”) or when you otherwise interact with us.  Selbi respects your privacy and is committed to protecting the personal information that you may provide us while using our Services.
      <br>
      <br>
      | Collection of Information
      <br>
      <br>
      | 1. Information You Provide to Us. Selbi collects information that you provide directly to us. For example, we collect information when you register or update the details of your account, post information in order to sell any good through the Selbi Exp, enroll in any third-party operated payment processing services offered in connection with the Selbi Exp, communicate with other users, request customer support or otherwise communicate with us. The types of information we may collect include your name, email address, Selbi account password, telephone number, postal address including city, state and zip code, photographs, written descriptions of your posted goods, all correspondence or communications with other users or with us conducted via the Selbi Exp, and any other information you choose to provide.  If you refuse to divulge your personal information when requested, you may not be able to access certain areas as part of the Selbi Exp (such as the ability to buy and sell products). 
      You may update, correct or delete information about you at any time by logging in to your account. If you would like to cancel your Selbi account entirely, please contact us, and enter your request for cancellation, but please note that we may retain certain information as required by law or for legitimate business purposes. We may also retain cached or archived copies of information about you for a certain period of time.
      <br>
      <br>
      | 2. Information We Collect Automatically When You Use the Selbi Exp. When you access or use the Selbi Exp, we automatically collect information about you, including:
      <br>
      <br>
      | 2.1. Log Information: We log information about your use of the Selbi Exp, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our Selbi Exp.
      <br>
      <br>
      | 2.2. Device Information: We collect information about the computer or mobile device you use to access the Selbi Exp, including the hardware model, operating system and version, unique device identifiers and mobile network information.
      <br>
      <br>
      | 2.3. Location Information: If you consent to the collection of location information from your computer or mobile device, we may collect this information when you access or use the Selbi Exp, or when you otherwise consent to the collection of this information. We may also use your IP address to infer an approximate geographic location for your computer or device. When you first download or launch any of our mobile applications that collect location information or first use any features that use location information, you will be asked to consent to the application’s collection of this information. If you initially consent to our collection of location information, you can subsequently stop the collection of this information at any time by changing the preferences on your mobile device. You may also stop our collection of location information by following the standard uninstall process to remove all of our mobile applications form your device.
      <br>
      <br>
      | 2.4. Information Collected by Cookies and Other Tracking Technologies: We use various technologies to collect information, and this may include sending cookies to your computer or mobile device. Cookies are small data files stored on your hard drive or in device memory that helps us to improve the Selbi Exp and see which areas and features of the Selbi Exp are popular and count visits. We may also collect information using web beacons (also known as “gifs,” “pixel tags” and “tracking pixels”). Web beacons are electronic images that may be used in the Selbi Exp or emails and help deliver cookies, count visits, understand usage and campaign effectiveness and determine whether an email has been opened and acted upon. Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Removing or rejecting browser cookies does not necessarily affect third party flash cookies used in connection with the Selbi Exp. To delete or disable flash cookies please visit www.adobe.com/products/flashplayer/security for more information. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of the Selbi Exp.
      <br>
      <br>
      | 3. Information from Third Parties. Selbi may, from time to time, obtain information from other sources and combine that with information we collect through the Selbi Exp in order to enhance our ability to serve you, to tailor our content to you and to offer you opportunities to purchase products or services that we believe may be of interest to you. We may also receive transaction information from Stripe, a third party payment processor, when you purchase or sell a good using the Selbi payment solution, including the date and time of sale and the amount of the sale.
      <br>
      <br>
      | 4. Payment Information Collected by Stripe. Selbi is integrated with Stripe to allow sellers to accept credit card and other electronic payment methods for goods they list for sale on the Selbi Exp. Stripe provides these services directly to sellers pursuant to its own terms and privacy policy. When signing up to receive funds electronically, Stripe, and not Selbi, collects some of the information provided by sellers via the Selbi Exp, including debit card numbers, Social Security numbers, government IDs, and bank account information. For more information about the third-party payment processing services integrated with the Selbi Exp see our Terms and Conditions.
      <br>
      <br>
      | 4.1. Payment processing services for buyers/sellers on Selbi are provided by Stripe and are subject to the <a href="https://stripe.com/us/connect/account-terms" target="_blank">Stripe Connected Account Agreement</a>, which includes the <a href="https://stripe.com/us/terms" target="_blank">Stripe Terms of Service</a> (collectively, the “Stripe Services Agreement”). By agreeing to these terms or continuing to operate as a buyer/seller on Selbi, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of Selbi enabling payment processing services through Stripe, you agree to provide Selbi accurate and complete information about you and your business, and you authorize Selbi to share it and transaction information related to your use of the payment processing services provided by Stripe.
      <br>
      <br>
      | Use of Information.
      <br>
      <br>
      | 5. General Uses. Selbi uses information about you for various purposes, including to:
      <br>
      <br>
      | 5.1. Enable you to access and use the Selbi Exp, to personalize the Selbi Exp, and to optimize the type of offers presented to you when you use the Selbi Exp;
      <br>
      <br>
      | 5.2. Create and maintain a trusted and safer environment on the Selbi Exp, including through detection and prevention of fraud, unauthorized access, intrusion, and service interruption;
      <br>
      <br>
      | 5.3. Conduct investigations and to respond to disputes between users, error resolution, and other similar customer support service;
      <br>
      <br>
      | 5.4. Enable any identification programs we may institute and in which you elect to participate such as verifying your identity and address, and conduct checks against various publicly available databases;
      <br>
      <br>
      | 5.5. Operate, protect, improve and optimize the Selbi Exp, our business, and our users’ experience;
      <br>
      <br>
      | 5.6. Perform analytics, conduct research, and monitor and analyze trends, usage and activities in connection with the Selbi Exp;
      <br>
      <br>
      | 5.7. Communicate with you about products, services, offers, promotions, rewards, and events offered by Selbi and others, and provide advertisements that match user profiles or interests, news and information we think will be of interest to you;
      <br>
      <br>
      | 5.8. Send you service, support and administrative messages, reminders, technical notices, updates, security alerts, and information requested by you;
      <br>
      <br>
      | 5.9. Comply with our legal obligations or requests from law enforcement agencies, resolve any disputes that we may have with any of our users, and enforce our agreements with third parties;
      <br>
      <br>
      | 5.10. Link or combine with information we get from others to help understand your needs and provide you with better service;
      <br>
      <br>
      | 5.11. Assist third-party payment processors with transaction processing, error, chargeback and disputed transaction resolution, and similar payment processing functions; and
      <br>
      <br>
      | 5.12. Carry out any other purpose for which the information was collected.
      <br>
      <br>
      | Selbi is based in the United States and the information we collect is governed by U.S. law. By accessing or using the Selbi Exp or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S. and other countries.
      <br>
      <br>
      | Sharing of Information.
      <br>
      <br>
      | 6. General. We may share information about you as follows or as otherwise described in this Privacy Policy:
      <br>
      <br>
      | 6.1. With the public on the Selbi Exp. Please note that your user name and your public photo will be available to the Internet's general public while you participate in the Selbi Exp, such as publishing products, so you should exercise discretion when using the Selbi Exp. Personal information disclosed by you may be collected by other users of such Selbi Exp and may result in unsolicited messages. We are not responsible for protecting such information that you may disclose to third parties through our Selbi Exp (e.g. sending your telephone number to another user through the Selbi Exp). To the extent that you use a profile that may be available to others on our Selbi Exp, you are solely responsible for its content and accuracy at all times. To edit, change, or delete such information, edit and update your profile or contact us at support@selbi.io.
      <br>
      <br>
      | 6.12 You expressly agree that all your personal data, images, check-ins or registration in places and any other data or information contained in your account associated with the implementation of the Selbi Exp may be published and made available to the rest of users.  For example, when you purchase an item, your mailing address and email provided to Selbi Exp will be sent to the seller to help facilitate further communication with respect to the item purchased.  As a buyer you will receive the email address of the Seller.
      <br>
      <br>
      | 6.13 We will require you to provide us information such as a phone number, name, email address, and password for purposes of making available that information on the Application and on the Internet.
      <br>
      <br>
      | 6.2 When sellers register through the Selbi Exp to receive electronic payments via Stripe’s services, we will share certain information about them with Stripe, including name, address, and date of birth. This information is in addition to the information collected directly by Stripe (as described above in “Payment Information Collected by Stripe”). Stripe may use this information for the purposes described in its privacy policy, including for fraud prevention.
      <br>
      <br>
      | 6.3. With vendors, consultants and other service providers who need access to such information to carry out work on our behalf (including without limitation with third-party service providers that may help us to detect inaccurate or fraudulent personal identification documents and related information);
      <br>
      <br>
      | 6.4. In response to a request for information if we believe disclosure is in accordance with any applicable law, regulation or legal process, or as otherwise required by any applicable law, rule or regulation;
      <br>
      <br>
      | 6.5. If we believe your actions are inconsistent with the spirit or language of our user agreements or policies, or to protect the rights, property and safety of Selbi or others;
      <br>
      <br>
      | 6.6. In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our business to another company;
      <br>
      <br>
      | 6.7. Between and among Selbi, and its current and future parents, affiliates, subsidiaries, and other companies under common control and ownership; and
      <br>
      <br>
      | 6.8. With your consent or at your direction, including if we notify you through the Selbi Exp that the information you provide will be shared in a particular manner and you provide such information.
      <br>
      <br>
      | We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.
      <br>
      <br>
      | 7. Social Sharing Features. The Selbi Exp may offer social sharing features and other integrated tools (such as the Facebook “Like” button), which let you share actions you take on the Selbi Exp with other media, and vice versa. The use of such features enables the sharing of information with your friends or the public, depending on the settings you establish with the entity that provides the social sharing feature. For more information about the purpose and scope of data collection and processing in connection with social sharing features, please visit the privacy policies of the entities that provide those features.
      <br>
      <br>
      | Advertising and Analytics Services Provided by Others
      <br>
      <br>
      | 8. We may allow others to serve advertisements on our behalf across the Internet and to provide analytics services. These entities may use cookies, web beacons and other technologies to collect information about your use of the Selbi Exp and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by Selbi and others to, among other things, analyze and track data, determine the popularity of certain content, deliver advertising and content targeted to your interests on the Selbi Exp and other websites and better understand your online activity.
      <br>
      <br>
      | Security
      <br>
      <br>
      | 9. Selbi takes reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.
      <br>
      <br>
      | 10. Notice of changes to the Policy
      <br>
      <br>
      | Selbi reserves the right to modify this Policy at any time by notifying registered users via e-mail or the Application of the existence of a new Policy and/or posting the new Policy on the Services. All changes to the Policy will be effective when posted, and your continued use of any Selbi Exp after the posting will constitute your acceptance of, and agreement to be bound by, those changes. We encourage you to review the Privacy Policy whenever you access the Selbi Exp to stay informed about our information practices and the ways you can help protect your privacy.
      <br>
      <br>
      | Questions and Comments.
      <br>
      <br>
      | If you’d like to provide feedback to us about this Privacy Policy, or if you have any questions, please contact us at Support@selbi.io.
  