extends privacyLayout

block content
  // Fixed navbar
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/')
          img.selbi-logo(src='../images/selbilogo2.png')
  .container
    .page-header
      h1
        | Terms & Conditions
    p.lead
      | 1. Legal Information
      <br>
      <br>
      | 1.1. This document is intended to inform you about the Terms and Conditions that regulate the use of the website www.selbi.io (hereinafter, the "Website") and the Application Selbi (hereinafter, the "App").
      <br>
      <br>
      | 1.2. The owner of both the Website and the App is Selbi, Inc (hereinafter "Selbi", "us" or "we"), with registered office State of Delaware is 2711 Centerville Road, Suite 400, Wilmington, New Castle County, Delaware 19808.
      <br>
      <br>
      | 1.3. Selbi is a company incorporated under the laws of the Delaware General Corporation Law.
      <br>
      <br>
      | 1.4. You can contact us at Support@selbi.io whenever you want. 
      <br>
      <br>
      | 2. Object 
      <br>
      <br>
      | 2.1. These Terms and Conditions govern the use of the App in which Selbi offers, as social marketplace, a platform to Users willing to buy or sell second hand products, mediating in the sale of these products. The information regarding the treatment of your personal data is located in the "Privacy Policy".
      <br>
      <br>
      | 3. Access and acceptance of the Terms and Conditions 
      <br>
      <br>
      | 3.1. By entering, executing using, downloading, accessing or using the App or the Website you will automatically be considered a User (hereinafter the "User" or "you") which requires the full acceptance of each and every provision included in this Terms and Conditions, in the version published by Selbi at the time you access or use the Website or the App.
      <br>
      <br>
      | Consequently, please, read carefully all the legal texts applicable to the use of the Website and the App each and every time you intend to use them.
      <br>
      <br>
      | 3.2. If you do not wish to accept the present Terms and Conditions, please, do not use the Services and uninstall the App from your device.
      <br>
      <br>
      | 3.3. The use of certain services offered on the Website or in the App may be subject to Specific Terms and Conditions that, depending on the case, may substitute complete and/or modify this document. Therefore, prior to the use of such Services, you must carefully read the corresponding Specific Terms and Conditions.
      <br>
      <br>
      | 3.4. Selbi reserves the right to modify, at any time and providing notice, this Terms and Conditions, so you are obliged to periodically review this Terms and to comply with the obligations set out in the current version in each moment.  Continued use of the App will constitute your acceptance of the updated Terms and Conditions.
      <br>
      <br>
      | 4. Required Age
      <br>
      <br>
      | 4.1. Both the Website as the App are intended to be used by adults, as defined under any applicable law in each specific case. If you are not an adult, you are not authorized to download the App, register and create an account with us. If you are a minor, you need the permission of your legal representatives in order to use the Service. In this case, the legal representative is liable for any acts committed by the minor. Please, if you are A minor and you do not have your legal representative’ permission, stop using the Website and uninstall the App.
      <br>
      <br>
      | 4.2. You further warrant that you are an adult under the applicable law. In the event that the information you provide in this regard is not truthful, Selbi shall not be liable as it cannot certainty verify the age of the Users. 
      <br>
      <br>
      | 4.3. Selbi may contact you at any time requiring you to prove your age using a photocopy of an identity card or equivalent. If you deny providing identification, Selbi reserves the right to close your user profile and you will not be able to continue using the service or the App.
      <br>
      <br>
      | 4.4. To sell or purchase via the App any type of product, users are minors under applicable law will need the specific permission of their legal representatives.
      <br>
      <br>
      | 5. Creation of an account
      <br>
      <br>
      | 5.1. To use or access to certain functionalities of the App you need to register, using your e-mail address and phone number. In order to access certain parts of the App, you may be required to create a Selbi account (an “Account”) or a seller payment account ("Stripe Connect Account”). In connection with creating an Account or a Stripe Connect Account, you must provide certain information (“Registration Data”) and answer all questions or fields required. You agree to: (i) provide true, accurate, current and complete Registration Data; (ii) maintain and update such Registration Data to keep it true, accurate, current and complete; and (iii) consent to allow Selbi to contact you for the purpose of confirming some or all of your Registration Data, to conduct research and to resolve disputes, as Selbi may elect to do from time to time.
      <br>
      <br>
      | 5.2. You agree to provide accurate, current, and complete Member account information about you as may be prompted by the registration and/or login form on the App.
      <br>
      <br>
      | 6. Security of the account
      <br>
      <br>
      | By opening an account you accept and assume all liability that may arise in any activity that occurs under your username and password. You are responsible for maintaining the confidentiality of the password you designate during the registration process. You cannot share it with other people or perform acts that may diminish or undermine the security of your account. If you have knowledge that your password was compromised, you should inform us immediately in order to recover your account.
      <br>
      <br>
      | 7. Installation and running the App
      <br>
      <br>
      | 7.1. Selbi grants you a license for installing and running the App.
      <br>
      <br>
      | 7.2. The installation and execution of the App is free.
      <br>
      <br>
      | 7.3. You must accept the permissions for installation and execution of the App. From time to time, Selbi may request the granting of additional permissions to perform certain actions or enjoy certain functionalities. The lack of acceptance of some of the permits necessary for the proper operation of the App may result in the suspension of the Services or impossibility of using the App.
      <br>
      <br>
      | 8. Features of the Service
      <br>
      <br>
      | 8.1. The service will allow different actions, including:
      <br>
      <br>
      | 8.1.1. Sharing with the rest of Users of Selbi information, images, photos as well as other data or personal information. 
      <br>
      <br>
      | 8.1.2. Putting products on sale as a seller User and purchasing as a buyer User in order to buy products.
      <br>
      <br>
      | 8.1.3. Sharing product offers in other platforms or social networks other than Selbi.
      <br>
      <br>
      | 8.1.4. Adding/Inviting new users to join Selbi through User’s mobile phone.
      <br>
      <br>
      | 8.2. Payment Options
      <br>
      <br>
      | 8.2.1 Selbi Payment Solution. A buyer and seller may pay with and accept credit cards and other electronic payment methods (each an “Electronic Payment Method”) through the App. Selbi uses Stripe (“Stripe”) for payment processing services. By registering your account with Selbi, you agree to Stripe's Services Agreements as shown below and with links provided in 8.2.2.
      <br>
      <br>
      | 8.2.2 Payment processing services for buyers/sellers on Selbi are provided by Stripe and are subject to the <a href="https://stripe.com/us/connect/account-terms" target="_blank">Stripe Connected Account Agreement</a>, which includes the <a href="https://stripe.com/us/terms" target="_blank">Stripe Terms of Service</a> (collectively, the “Stripe Services Agreement”). By agreeing to these terms or continuing to operate as a buyer/seller on Selbi, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of Selbi enabling payment processing services through Stripe, you agree to provide Selbi accurate and complete information about you and your business, and you authorize Selbi to share it and transaction information related to your use of the payment processing services provided by Stripe.
      <br>
      <br>
      | 8.2.3. Buyers and sellers who wish to use the Selbi Payment Solution must register an Electronic Payment Method with Selbi and enroll for the service. Enrollment in and usage of the Selbi Payment Solution is required to participate in transactions either as a seller, a buyer, or both. Selbi, in its sole discretion, may from time to time impose limits on your ability to make and/or receive payments through the Selbi Payment Solution. Additionally, Stripe may impose its own limits and limitations on a seller’s use of the Selbi Payment Solution. For instance, a seller’s enrollment in the Selbi Payment Solution is subject to Stripe’s confirmation that the seller meets Stripe’s enrollment criteria.
      <br>
      <br>
      | 8.2.4. Buyers. When you initiate a payment through the Selbi Payment Solution, the seller processes your Electronic Payment Method using Stripe’s payment processing service. Selbi is not a party to purchase and sale transactions completed using the Selbi Payment Solution, and does not facilitate such transactions, refunds or returns in any manner, except to provide an interface through which you can provide your Electronic Payment Method to Stripe to process on behalf of the seller.
      <br>
      <br>
      | 8.2.5. Sellers. By using the Selbi Payment Solution to accept Electronic Payment Methods, you are entering into an agreement with Stripe subject to the terms of the <a href="https://stripe.com/us/connect/account-terms" target="_blank">Stripe Connected Account Agreement</a>, which includes the <a href="https://stripe.com/us/terms" target="_blank">Stripe Terms of Service</a>. Notwithstanding anything to the contrary in Stripe Services Agreement, you will not have the right to have Stripe, and will not request that Stripe, transfer any buyer data Stripe collects via the Selbi Payment Solution to an alternative payment processor. Except for the foregoing restriction that supersedes any rights you may have in the Stripe Services Agreement. Selbi is not a party to the Stripe Services Agreement and will not be liable or responsible for the payment services provided by Stripe.
      <br>
      <br>
      | 8.2.6. Seller Fees. You agree to pay the service fees (“Service Fees”) described in the FAQs for the sales transactions you make using the Selbi Payment Solution. The Service Fees include Electronic Payment Method processing fees to Stripe and service fees to Selbi. Selbi reserves the right to change the Service Fees from time to time.
      <br>
      <br>
      | 8.2.7. Receiving Sales Proceeds. To buy and sell on Selbi, you must complete registration including creating a Stripe Connect Account via Selbi with the requirements specified by Selbi and Stripe to receive the payment via the Selbi Payment Solution.
      <br>
      <br>
      | 8.2.8. Transactions Final.  ALL PURCHASES ARE FINAL, AND THERE ARE NO REFUNDS, UNLESS YOU AND THE SELLER OTHERWISE AGREE AND MAKE ARRANGEMENTS FOR A REFUND. Selbi will not be responsible for facilitating refunds.
      <br>
      <br>
      | 8.2.9. Taxes. It is your responsibility to determine what, if any, taxes apply to each transaction you complete via the Selbi Service, including, for example, sales, use, value added, and similar taxes. It is also your responsibility to withhold, collect, report and remit the correct taxes to the appropriate tax authorities. Selbi is not responsible for withholding, collecting, reporting, or remitting any sales, use, value added, or similar tax arising from any transaction you complete via the Selbi Service.
      <br>
      <br>
      | 9. Intellectual property rights
      <br>
      <br>
      | 9.1. Selbi, Inc is the holder of the rights of intellectual and industrial property, or has obtained the necessary authorizations or licenses for its exploitation, associated with the App, the software, its database, the trademarks and any other distinctive signs, the content posted and the rest of works and inventions or content related to the App and the technology associated with it.
      <br>
      <br>
      | 9.2. The contents of the App, including the design, Apps, text, images and source code, are protected by intellectual and industrial property rights. 
      <br>
      <br>
      | 9.3. The contents of this App, the database of users, the screenshots or the Website may not be used, reproduced, broadcasted, copied, processed or transmitted in any form without the prior permission in writing of Selbi.
      <br>
      <br>
      | 9.4. Selbi assumes no responsibility for the intellectual or industrial property rights of the content that seller Users include in the offerings of its products.
      <br>
      <br>
      | 10. Waiver of responsibility
      <br>
      <br>
      | 10.1. Selbi is a platform that brings together buyers and sellers of second-hand products. Selbi is not the owner and has no control of the items for sale or sold through its platform, unless otherwise stated, and is not a party to the transaction of the sale carried out exclusively between buyers and sellers and does not review the products that Users provide though the App. As a consequence, Selbi shall not be responsible, either directly or indirectly, for any disagreement between the parties.
      <br>
      <br>
      | 10.2. All information of the products published on the App or the Website has been built and published by the USER which is selling the product. Consequently, Selbi cannot guarantee the quality of the same, as well as the veracity of the images and/or descriptions published by the seller Users. 
      <br>
      <br>
      | 10.3. Any claim or dispute that may arise between Users of the Service shall be settled by them, committing themselves to hold Selbi harmless.
      <br>
      <br>
      | 10.4. Selbi service is limited to employ the utmost diligence to ensure the proper technical functioning of the platform.
      <br>
      <br>
      | 10.5. Selbi shall in no case be responsible for the content operation and/or data protection or other terms referred to in other web sites or Apps that may be accessed by the inclusion of a link on the Service, or the content, services or products offered on the same, unless such sites are owned by Selbi. The hyperlinks contained in the Website or in the App may lead to third party web sites. Selbi may incorporate them to facilitate the navigation of the User, assuming no responsibility for the content, information or services that may appear on those sites, which will be exclusively informative and in no case imply any relationship between the third party and Selbi. 
      <br>
      <br>
      | 10.6. Selbi does not facilitate the shipping or receiving of goods.  The seller is responsible for determining the appropriate shipping method of purchased items to be received by the buyer in a timely manner.  All associated costs are the sole responsibility of the seller.
      <br>
      <br>
      | 10.7. Selbi develops maximum diligence in the implementation of security measures, however assumes no responsibility or liability whatsoever with regard to the custody and proper use of the passwords for access to the WEB SITE, which will be the sole responsibility of the User.
      <br>
      <br>
      | 11. Warranty of products second-hand products
      <br>
      <br>
      | 11.1. Selbi does not assume any responsibility nor warrants the products sold by using the Selbi App The transaction takes places and is decided exclusively between the buyer and seller, and Selbi only provides the use of the App.
      <br>
      <br>
      | 12. Exclusion of liability
      <br>
      <br>
      | 12.1. User access to the Website or App does not imply for Selbi the obligation to monitor the absence of viruses, worms, or any other harmful technical element. It is you, in any case, the sole responsible for making available the adequate tools for the detection of harmful computer programs.
      <br>
      <br>
      | 12.2. Selbi is not responsible for any damages incurred in the software and computers of users or third parties during the use of the services offered on the Website or the App.
      <br>
      <br>
      | 12.3. Selbi shall not be liable for damages of any kind that you are caused to bring cause of faults or disconnections in telecommunication networks that produce the suspension, cancellation or interruption of service of the Website or the App.
      <br>
      <br>
      | 13. Prohibited items
      <br>
      <br>
      | 13.1. Selbi prohibits the listing or sale of any items that are illegal under any applicable law, statute, ordinance or regulation at a local, state, provincial, national or international level.
      <br>
      <br>
      | 13.2. Some examples of items that are not allowed:
      <br>
      <br>
      | Photos that do not show the item clearly.
      <br>
      | Internet photos, i.e. you have not taken the picture yourself.
      <br>
      | Item infringes trademarks, copyrights or any other IP rights of third parties.
      <br>
      | Item is perishable (food etc.) or live animals.
      <br>
      | Advertisements.
      <br>
      | Photo or text containing a reference to another website, app or merchant.
      <br>
      | Items that are defective or of poor quality.
      <br>
      | An item listed as "free" but is not intended to be given away.
      <br>
      | There is no realistic price set for the item.
      <br>
      | Duplicated listings
      <br>
      | Other items that are specifically prohibited include:
      <br>
      | Alcoholic Beverages
      <br>
      | Blood, Bodily Fluids and Body Parts
      <br>
      | Burglary Tools
      <br>
      | Controlled chemical substances (such as cadmium, mercury, acids)
      <br>
      | Counterfeit currency, stamps or coins
      <br>
      | Counterfeit Products
      <br>
      | Databases containing personal data
      <br>
      | Electronic Surveillance Equipment
      <br>
      | Embargoed Goods
      <br>
      | Government, official and Transit Uniforms, IDs and Licenses
      <br>
      | Illegal Drugs and Drug Paraphernalia
      <br>
      | All types of illegal services and products
      <br>
      | Hacking tools
      <br>
      | Hazardous Materials
      <br>
      | Fireworks, Destructive Devices and Explosives
      <br>
      | Identity Documents, Personal Financial Records and Personal Information (in any form, including mailing lists).
      <br>
      | Items received through Government assistance
      <br>
      | Items which encourage or facilitate illegal activity
      <br>
      | Lottery Tickets, Sweepstakes Entries and Slot Machines
      <br>
      | Obscene Material and all types of Pornography
      <br>
      | All type of offensive material
      <br>
      | Pesticides
      <br>
      | Pictures or images that contain frontal nudity
      <br>
      | Police and Other Security Forces Badges and Uniforms
      <br>
      | Prescription Drugs, medicines, supplements and Devices
      <br>
      | Recalled items
      <br>
      | Stocks and Other Securities
      <br>
      | Stolen Property
      <br>
      | Tobacco Products (including vapes and e cigarettes)
      <br>
      | Used Cosmetics
      <br>
      | Weapons and related items (such as firearms, firearm parts and magazines, ammunition, BB and pellet guns, tear gas, stun guns, switchblade knives, and martial arts weapons).
      <br>
      | In addition, Selbi reserves the right to remove any listings that we consider inappropriate or unfit for posting. Our policies are often based on applicable laws and regulations, although in some cases, we may make listing decisions based on input from our users and our own discretion, especially for dangerous or sensitive items.
      <br>
      <br>
      | 14. Rules of Use
      <br>
      <br>
      | 14.1. You agree to use the Website and the App and its contents and services in accordance with the law, the morality, and the public order and in accordance with these Terms and Conditions. You are also obliged to make a proper use of the services and/or contents and to not use them to conduct illegal activities or constitute criminal offenses that violate the rights of third parties and/or violate the regulation on intellectual and industrial property, and any other rules of the applicable legal provisions.
      <br>
      <br>
      | 14.2. You are solely responsible for the interaction you establish with other Users of the Service and for all Content that you upload, post or transmit through the Website or App. You also guarantee that you are not infringing any third party right by the content uploaded.
      <br>
      <br>
      | 14.3. In addition, you agree and acknowledge that Selbi in no case will be held liable for the conduct of other Users. 
      <br>
      <br>
      | 14.4. Selbi prohibits the use of automated software and Posting Agents, directly or indirectly, without the express written permission of Selbi. In addition, Posting Agents are not permitted to post Content on behalf of others, directly or indirectly, or otherwise access the Service to in order to post content on behalf of others, except with express written permission or license from Selbi. As used herein, the term "Posting Agent" refers to a third-party agent, service, or intermediary that offers to post Content to the Service on behalf of others
      <br>
      <br>
      | 14.5. You agree not to transmit, enter, disseminate and make available to third parties any type of material and information (data, content, messages, drawings, sound files and image, photos, software, etc.) that are contrary to the law, morality, public order and these Terms and Conditions. You agree NOT to:
      <br>
      <br>
      | I. Enter or disseminate content or propaganda which may be considered racist, xenophobic, pornographic or contrary to the human rights.
      <br>
      <br>
      | II. Enter or disseminate in the network data programs (viruses and malicious software) that might cause damage to the computer systems of the access provider, its suppliers or third party users of the Internet.
      <br>
      <br>
      | III. Disseminate, transmit or make available to third parties any information, element or content that violates the fundamental rights and civil liberties recognized in international treaties.
      <br>
      <br>
      | IV. Disseminate, transmit or make available to third parties any information, element or content that constitutes unlawful or unfair advertising.
      <br>
      <br>
      | V. Enter or disseminate any information and content false, inaccurate or ambiguous in a manner which is misleading in the recipients of the information.
      <br>
      <br>
      | VI. Disseminate, transmit or make available to third parties any information, element or content involving a violation of the intellectual and industrial property rights, patents, trademarks or copyright that correspond to Selbi or to third parties.
      <br>
      <br>
      | VII. Crawl, scrape, collect, store or access the database of Selbi or collect all or part of the database of ads and users of Selbi.
      <br>
      <br>
      | 14.6. You agree to hold Selbi harmless of any possible claim, fine, penalty or punishment that can come to bear as a result from your breach of any of the rules stated in this document, reserving Selbi the right to request compensation for damages.
      <br>
      <br>
      | 14.7. Selbi develops maximum diligence in the control of the data and other content to be displayed in the Website and in the App. If in spite of this you identify an error or incompleteness, we kindly ask you to notify us at the email address Support@Selbi.io . Selbi will reply as soon as possible. 
      <br>
      <br>
      | 15. Notice and take down
      <br>
      <br>
      | If you believe your copyright-protected work was posted on Selbi without authorization, you may submit a copyright infringement notification. These requests should only be submitted by the copyright owner or an agent authorized to act on the owner’s behalf. The fastest and easiest way to notify Selbi of alleged copyright infringement is via email at Support@Selbi.io
      <br>
      <br>
      | DMCA Notice
      <br>
      <br>
      | You may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further details):
      <br>
      <br>
      | An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright’s interests
      | A description of the copyrighted work that you claim has been infringed, including the URL (i.e., web page address or item number) of the location where the copyrighted work exists or a copy of the copyrighted work
      | Identification of the URL or other specific location on the Service where the material that you claim is infringing is located
      | Your address, telephone number, and email address
      | A statement that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law
      | A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.
      <br>
      <br>
      | 16. Nullity and inefficiency of the clauses
      <br>
      <br>
      | If any clause included in the present Terms is declared total or partially void or inefficient, it will only affect that provision or the part of the same which is considered to be void or ineffective, surviving the present Terms and Conditions in everything else, considering such a provision wholly or partly not included.
      <br>
      <br>
      | 17. Applicable Law and Jurisdiction
      <br>
      <br>
      | These Terms and Conditions shall be governed by and construed in accordance with the legislation of the United States of America. You and Selbi agree to submit any dispute that might arise in the delivery of the products or services subject to these Terms and Conditions, to the Courts of New York, United States of America or to the applicable jurisdiction in case of contracting with consumers.